@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-bg:#FF7A00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
  background-color: var(--button-bg);
  color: white;
}

button:hover{
  cursor: pointer;
  background-color: #e66a00;
  color: white;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}


